/* base.css */
body {
    font-family: var(--fonte-principal);
    color: black;
}

main {
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 1.25;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 3s, border 0.3s;
}


